body {
  background-color: #f8f8f8;
}

.navbar {
  margin-bottom: 0;
}

.content {
  background-color: white;
}

.banner {
  background: url("/img/cover.jpg");
  background-size: cover;
  background-position: center right;
  height: 1000px;
  /*margin-top: -20px;*/
}

.team-member {
  min-height: 30em;
}

.headshot {
  max-width: 100%;
  max-height: 20em;
  border-radius: 20px;
}