.nav {
  padding-top: 4px;
  background-color: #555555;
}

.nav .pull-left a {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
}

.nav .pull-right a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background: url("/cover.jpg");
  background-size: cover;
  min-height: 1000px;
}

.text-center p {
  font-size: 17px;
}

.vcenter p {
  font-size: 17px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: 40px 0;
}

footer {
    color: #ffffff;
    background: #555555;
    padding: 10px 0 5px 0;
}
